doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HealthSync - HapVida
        link(rel="stylesheet", href="./styles/style.css")
        link(rel="shortcut icon", href="./assets/favicon.ico", type="image/x-icon")
        script(src="https://kit.fontawesome.com/1d41b3ab2c.js" crossorigin="anonymous")
    body.w-screen
        header.bg-gradientBlue.w-full.py-8.flex.flex-col.justify-center.items-center.gap-10(class="min-h-[100dvh]") 
            div.flex.flex-row.justify-center.items-center.gap-4
                h1.font-bold.font-barlow.text-5xl.text-gray-50 HealthSync
                img(src="./assets/logo.png", alt="", class="w-[20%]" )
            div.flex.flex-col.justify-center.items-center(class="w-[85%]")
                img(src="./assets/hero.png", alt="")
                div.flex.flex-col.justify-center.items-center.gap-3
                    h2.font-inter.font-black.text-2xl.text-gray-50.tracking-wider Bem-estar acessível e integrado
                    p.font-inter.text-gray-50.tracking-wider Sua saúde sempre ao seu alcance. Seus dados totalmente acessíveis, simplificando o caminho para uma vida plena.
            div.flex.flex-row.justify-evenly.items-center.w-full
                a.text-azul.bg-gray-50.rounded-3xl.text-lg.px-5.py-2.flex.flex-row.justify-center.items-center(href="#section-1") Saiba mais
                a.text-azul.bg-gray-50.rounded-3xl.text-lg.px-8.py-2.flex.flex-row.justify-center.items-center.font-inter.font-black.shadow-xl.tracking-wider(href="/login") LOGIN
        main.flex.flex-col.justify-center.items-center.gap-4.w-full 
            section#section-1.flex.flex-col.justify-center.items-center.gap-6.bg-branco.py-20.w-full
                div.flex.flex-col.justify-center.items-center.gap-4
                    h3.font-inter.font-black.text-3xl.tracking-wider.text-gray-800.text-center(class="w-[90%]") Prontuários integrados
                    p.font-poppins.text-gray-500.text-center(class="w-[85%]") Tenha acesso ao seu histórico médico-hospitalar completo, de forma fácil e segura. Sempre que precisar, suas informações estarão ao seu alcance.
                div.flex.flex-row.flex-wrap.justify-center.items-center.gap-6.w-full
                    div.flex.flex-col.justify-center.items-center.gap-6(class="w-[80%]").bg-gray-50.rounded-xl.shadow-2xl.p-8
                        h4.text-azul.font-inter.font-black.text-lg.tracking-wider.text-center Diagnósticos mais precisos
                        img.rounded.xl.shadow-lg(src="./assets/prontuario.png", alt="")
                        p.font-poppins.text-gray-500.text-center.text-sm Não se preocupe em esquecer de algum detalhe: todos os médicos conveniados à HapVida têm acesso aos prontuários de seus pacientes.
                    div.flex.flex-col.justify-center.items-center.gap-6(class="w-[80%]").bg-gray-50.rounded-xl.shadow-2xl.p-8
                        h4.text-azul.font-inter.font-black.text-lg.tracking-wider.text-center Converse em tempo real com médicos de todo o Brasil
                        img.rounded.xl.shadow-lg(src="./assets/chat.png", alt="")
                        p.font-poppins.text-gray-500.text-center.text-sm Tire dúvidas, divida apreensões e tenha um contato mais humanizado com seus médicos. Diversas especialidaes, em todo o Brasil.
                    div.flex.flex-col.justify-center.items-center.gap-6(class="w-[80%]").bg-gray-50.rounded-xl.shadow-2xl.p-8
                        h4.text-azul.font-inter.font-black.text-lg.tracking-wider.text-center Agende consultas
                        img.rounded.xl.shadow-lg(src="./assets/agende.png", alt="")
                        p.font-poppins.text-gray-500.text-center.text-sm Prezamos pela transparência: veja a disponibilidade de seu médico. Planeje-se e agende sua consulta pelo HealthSync
                    


